.mynavbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mynavbar a {
  float: center;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.mynavbar a.active {
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}